:root {
  /* Colors*/
  --white: 0 100% 100%;

  /* Fonts */
  --fs-heading: 3rem;
  --fs-nav: 1.5rem;
}

.navbar-nav a {
  color: hsl(var(--white));
  font-size: var(--fs-nav);
}

.mainDiv {
  position: relative;
  max-height: 95vh;
  overflow: hidden;
}
.headings {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: hsl(var(--white));
}

.row {
  margin: 3rem;
  padding: 1rem;
}
