@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat:wght@400;700&display=swap");
:root {
  /* Colors*/
  --white: 0 100% 100%;
  --blue-8: 245 72% 22%;

  /* Font Size */
  --fs-heading: calc(1.2rem + 0.75vw);
  --fs-nav: calc(1rem + 0.5vw);
  --fs-listHeading: calc(1.2rem + 0.75vw);
  --fs-body: calc(0.75rem + 0.25vw);

  /* Font Family */
  --ff-headings: "DM Sans", sans-serif;
  --ff-body: "Montserrat", sans-serif;
}

body {
  font-family: var(--ff-body);
  font-weight: 400;
  font-size: var(--fs-body);
}

/* Navbar */
.navbar {
  background-color: rgba(12, 6, 14, 0.3);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.navbar-toggler:hover {
  border: 2px solid white;
}

.navbar-nav a {
  color: hsl(var(--white));
  margin: 0rem 0.5rem;
  font-size: var(--fs-nav);
  font-family: var(--ff-headings);
  font-weight: 700;
}

.navbar-nav a:hover {
  background-color: hsl(var(--white));
  color: black;
}

/* Parallax */
.parallaxWrapper {
  font-family: var(--ff-headings);
  font-weight: 700;
  background-image: url("Images/bg1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaxImg {
  min-height: 100vh;
}

.headings {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: hsl(var(--white));
}

.linkBtn {
  margin: 1rem 0rem;
  text-decoration: none;
  color: inherit;
  font-size: var(--fs-nav);
  padding: 0.5rem 0.5rem;
  border: 2px white solid;
  appearance: button;
}

.linkBtn:hover {
  background-color: hsl(var(--white));
  color: purple;
}

/* AboutMe */
.img-col {
  display: flex;
  justify-content: center;
}

.aboutMe-pic {
  border: 1px solid white;
  border-radius: 50%;
  overflow: hidden;
  /* margin: 2rem 0rem; */
  margin: auto;
}

#aboutMe .card-body {
  text-align: center;
}

.detailsCard {
  margin: auto;
  margin-top: 2rem;
  max-width: 750px;
}

.card-title {
  font-size: var(--fs-listHeading);
  font-family: var(--ff-headings);
  font-weight: 700;
}

.row {
  margin: 1rem;
  padding: 1rem;
}

/* Projects */
#projects a {
  text-decoration: none;
  padding: 0.5rem;
  color: black;
}

/* Education & Experience Timeline */
#timeline {
  padding: 1rem 1rem;
}

#timeline h5 {
  border-bottom: 2px solid purple;
}

.timeline-list {
  list-style: none;
  margin: 1rem 0rem;
}

.textHeading {
  font-family: var(--ff-headings);
  font-weight: 700;
  font-size: var(--fs-listHeading);
  margin-left: 1rem;
}

.text {
  margin-left: 2.5rem;
  font-size: var(--fs-body);
}

/* Footer */
footer {
  background-color: rgba(12, 6, 14, 0.3);
}

/* Media Query for Timeline */
@media (min-width: 456px) {
  .verticalLine {
    position: absolute;
    height: 95%;
    margin: calc(0.75rem + 0.5vw) 0;
    width: 1px;
    border-left: 2px solid purple;
    left: 15px;
    top: 23px;
  }

  .timeline-list li {
    padding-bottom: 11px;
    margin-bottom: 29px;
    position: relative;
  }

  .timeline-list li span:first-child {
    border-radius: 50%;
    border: 2px solid black;
    padding: 5px 10px;
  }

  .index {
    color: purple;
  }
}

@media (max-width: 455px) {
  .timeline-list {
    counter-reset: li;
  }
  .timeline-list li {
    font-size: 2rem;
  }

  .timeline-list li:before {
    counter-increment: li;
    content: counter(li, decimal-leading-zero);
    color: purple;
    margin-right: 0.25em;
  }

  .index {
    visibility: hidden;
  }
}
